In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing, cross_validation,neighbors

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv('Breast cancer.csv')

In [5]:
df.head()
print(df)

          Id  Clump Thickness  Cell SizeUniformity   Cell Shape Uniformity  \
0    1000025                5                     1                      1
1    1002945                5                     4                      4
2    1015425                3                     1                      1
3    1016277                6                     8                      8
4    1017023                4                     1                      1
5    1017122                8                    10                     10
6    1018099                1                     1                      1
7    1018561                2                     1                      2
8    1033078                2                     1                      1
9    1033078                4                     2                      1
10   1035283                1                     1                      1
11   1036172                2                     1                      1
12   1041801                5                     3                      3
13   1043999                1                     1                      1
14   1044572                8                     7                      5
15   1047630                7                     4                      6
16   1048672                4                     1                      1
17   1049815                4                     1                      1
18   1050670               10                     7                      7
19   1050718                6                     1                      1
20   1054590                7                     3                      2
21   1054593               10                     5                      5
22   1056784                3                     1                      1
23   1057013                8                     4                      5
24   1059552                1                     1                      1
25   1065726                5                     2                      3
26   1066373                3                     2                      1
27   1066979                5                     1                      1
28   1067444                2                     1                      1
29   1070935                1                     1                      3
..       ...              ...                   ...                    ...
669  1350423                5                    10                     10
670  1352848                3                    10                      7
671  1353092                3                     2                      1
672  1354840                2                     1                      1
673  1354840                5                     3                      2
674  1355260                1                     1                      1
675  1365075                4                     1                      4
676  1365328                1                     1                      2
677  1368267                5                     1                      1
678  1368273                1                     1                      1
679  1368882                2                     1                      1
680  1369821               10                    10                     10
681  1371026                5                    10                     10
682  1371920                5                     1                      1
683   466906                1                     1                      1
684   466906                1                     1                      1
685   534555                1                     1                      1
686   536708                1                     1                      1
687   566346                3                     1                      1
688   603148                4                     1                      1
689   654546                1                     1                      1
690   654546                1                     1                      1
691   695091                5                    10                     10
692   714039                3                     1                      1
693   763235                3                     1                      1
694   776715                3                     1                      1
695   841769                2                     1                      1
696   888820                5                    10                     10
697   897471                4                     8                      6
698   897471                4                     8                      8

     Marginal Adhesion  Single Epithelial Cell Size Bare Nuclei  \
0                    1                            2           1
1                    5                            7          10
2                    1                            2           2
3                    1                            3           4
4                    3                            2           1
5                    8                            7          10
6                    1                            2          10
7                    1                            2           1
8                    1                            2           1
9                    1                            2           1
10                   1                            1           1
11                   1                            2           1
12                   3                            2           3
13                   1                            2           3
14                  10                            7           9
15                   4                            6           1
16                   1                            2           1
17                   1                            2           1
18                   6                            4          10
19                   1                            2           1
20                  10                            5          10
21                   3                            6           7
22                   1                            2           1
23                   1                            2           ?
24                   1                            2           1
25                   4                            2           7
26                   1                            1           1
27                   1                            2           1
28                   1                            2           1
29                   1                            2           1
..                 ...                          ...         ...
669                  8                            5           5
670                  8                            5           8
671                  2                            2           1
672                  1                            2           1
673                  1                            3           1
674                  1                            2           1
675                  1                            2           1
676                  1                            2           1
677                  1                            2           1
678                  1                            2           1
679                  1                            2           1
680                 10                            5          10
681                 10                            4          10
682                  1                            2           1
683                  1                            2           1
684                  1                            2           1
685                  1                            2           1
686                  1                            2           1
687                  1                            2           1
688                  1                            2           1
689                  1                            2           1
690                  3                            2           1
691                  5                            4           5
692                  1                            2           1
693                  1                            2           1
694                  1                            3           2
695                  1                            2           1
696                  3                            7           3
697                  4                            3           4
698                  5                            4           5

     Bland Chromatin  Normal Nucleoli  Mitoses  Class
0                  3                1        1      2
1                  3                2        1      2
2                  3                1        1      2
3                  3                7        1      2
4                  3                1        1      2
5                  9                7        1      4
6                  3                1        1      2
7                  3                1        1      2
8                  1                1        5      2
9                  2                1        1      2
10                 3                1        1      2
11                 2                1        1      2
12                 4                4        1      4
13                 3                1        1      2
14                 5                5        4      4
15                 4                3        1      4
16                 2                1        1      2
17                 3                1        1      2
18                 4                1        2      4
19                 3                1        1      2
20                 5                4        4      4
21                 7               10        1      4
22                 2                1        1      2
23                 7                3        1      4
24                 3                1        1      2
25                 3                6        1      4
26                 2                1        1      2
27                 2                1        1      2
28                 2                1        1      2
29                 1                1        1      2
..               ...              ...      ...    ...
669                7               10        1      4
670                7                4        1      4
671                3                1        1      2
672                3                1        1      2
673                1                1        1      2
674                2                1        1      2
675                1                1        1      2
676                2                1        1      2
677                1                1        1      2
678                1                1        1      2
679                1                1        1      2
680               10               10        7      4
681                5                6        3      4
682                3                2        1      2
683                1                1        1      2
684                1                1        1      2
685                1                1        1      2
686                1                1        1      2
687                2                3        1      2
688                1                1        1      2
689                1                1        8      2
690                1                1        1      2
691                4                4        1      4
692                1                1        1      2
693                2                1        2      2
694                1                1        1      2
695                1                1        1      2
696                8               10        2      4
697               10                6        1      4
698               10                4        1      4

[699 rows x 11 columns]

In [6]:
df.replace('?', -999999, inplace = True)

In [7]:
df.drop(['Id'],1, inplace = True)

In [8]:
x = np.array(df.drop(['Class'],1))

In [9]:
y =np.array(df.drop(['Class'],1))

In [10]:
X_train,X_test,y_train,y_test = cross_validation.train_test_split(x,y,test_size = 0.2)

In [11]:
clf = neighbors.KNeighborsClassifier()

In [12]:
clf.fit(X_train, y_train)

ValueError: could not convert string to float: '?'

In [2]:
OUT=clf.predict()

NameError: name 'clf' is not defined